$global_gap: 10px;
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow_hover: 0 6px 10px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.23);

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  height: 100vh;
  margin: 0; padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-family: 'Nunito', sans-serif;
  color: rgb(50, 50, 50);

  main {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .card {
      width: 470px;
      min-height: 185px;

      display: flex;

      padding: $global_gap;
      border-radius: 5px;
      box-shadow: $shadow;
      background: rgba(255, 255, 255, .8);

      .avatar {
        width: 100px;
        height: 100px;
        margin-right: $global_gap;
        border-radius: 50%;
        //box-shadow: $shadow;
        //border: 4px solid rgba(255, 255, 255, .5);
      }

      .infos {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        div {

          &:not(:last-child) {
            margin-bottom: $global_gap;
          }

          &.capitalize {
            text-transform: capitalize;
          }

          &.name {
            font-size: 150%;
            font-weight: bold;
          }

          i {
            margin-right: $global_gap;
          }
        }
      }
    }

    .refresh {
      display: flex;
      flex-direction: column;

      margin-left: $global_gap * 4;

      i {
        position: relative;
        height: 40px;
        width: 40px;
        margin: $global_gap 0;
        font-size: 110%;
        line-height: 40px;
        background: rgba(255, 255, 255, .8);
        box-shadow: $shadow;
        border-radius: 50%;
        cursor: pointer;

        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

        &:hover {
          background: white;
          box-shadow: $shadow_hover;

          &:after {
            opacity: 1;
          }
        }

        &:after {
          content: attr(data-text);
          position: absolute;
          left: calc(100% + #{$global_gap});
          top: 50%;
          transform: translateY(-50%);
          font-size: 80%;
          font-family: 'Nunito', sans-serif;
          line-height: initial;
          background: white;
          padding: ($global_gap / 4) $global_gap;
          border-radius: 1000px;
          box-shadow: $shadow;
          pointer-events: none;
          opacity: 0;
          transition: opacity .2s ease-in-out;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    main {
      flex-direction: column !important;
      font-size: 80%;

      .card {
        max-width: 80%;
        width: auto;
        min-height: 150px;
      }

      .refresh {
        flex-direction: row;

        margin-left: 0;
        margin-top: $global_gap * 3;

        i {
          margin: 0 $global_gap;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .copy {
    position: absolute;
    bottom: 0; right: 0;
    padding: ($global_gap / 2) $global_gap;
    color: white;

    a {
      color: inherit;
    }
  }
}